body {
  height: 100vh;
}

body {
	background-color: black;
  min-height: 100vh;
	margin: 0;
	padding: 0;
}

#header {
	color: black;
	height: 50px;
	background-color: white;
	text-align: left;
	font-weight: bold;
	font-size: 30px;
	padding-top: 20px;
	padding-left: 20px;
	font-family: 'Montserrat', sans-serif;
}

#content_left {
	padding-top: 60px;
	height: calc(100% - 150px);
	background-color: white;
	color: black;
	width: 50%;
	float: left;
	font-family: 'Montserrat', sans-serif;
}

#content_right {
	padding-top: 60px;
	height: calc(100% - 150px);
	background-color: white;
	color: black;
	padding-top: 60px;
	width: 50%;
	float: left;
	font-family: 'Montserrat', sans-serif;
}

#login_box {
	margin-left: 100px;
	border-radius: 20px;
	width: 400px;
	height: 400px;
	color: white;
	background-color: black;
	font-family: 'Montserrat', sans-serif;
}

#login_header {
	padding-top: 40px;
	text-align: center;
	font-weight: bold;
}

input[type=submit] {
    background: black;
	border: 3 none;
  color: white;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	width: 100px;
	height: 30px;
}

input[type=text] {
    background: black;
	border: 3 none;
	border-color: white;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	width: 180px;
	height: 20px;
  color: white;
}

input[type=password] {
  background: black;
	border: 3 none;
	border-color: white;
  -webkit-border-radius: 5px;
  border-radius: 5px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	width: 180px;
	height: 20px;
  color: white;
}

#header_content {
	font-size: 40px;
	font-weight: 700;
	margin-left: 60px;
}

#bank_quote {
	font-style: italic;
	font-weight: 400;
	margin-left: 60px;
	font-size: 30px;
	width: 500px;
}

#robert_frost {
	font-style: normal;
	font-weight: 600;
	margin-left: 60px;
	font-size: 25px;
	width: 200;
}
